# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#Logs
Logs
*.log
#Runtime data
pids
*.pid
*.seed


# misc
.DS_Store
.vscode
test_users.txt
/scripts/*.json
nodemon.json
/temp/*
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/*
