 .title {
   
    border-width: 4;
    border-color: "#20232a";
    border-radius: 20;
    background-color: "#61dafb";
    color: "#20232a";
    text-align: "center";
    font-size: 15;
    font-weight: "bold";
   
  }

.error {
   
    border-Width: 1;
    border-Color: "#20232a";
    border-Radius: 20;
    background-Color: "#61dafb";
    color: "#20232a";
    text-Align: "left";
    padding-Left:100;
      font-Size: 12;
    font-Weight: "bold"
  };